* {
  box-sizing: border-box;
}

body {
  background-image: url(thyme.jpg);
  background-position: center;
  background-size: cover;


}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: 1.4rem;
  list-style: none;
}

span {
  font-size: 1rem;
}

.title {
  font-size: 2rem;
}

.header {
  text-align: center;
  height: 20vh;
  width: 100vw;
  background-color: #D9CFD9;
  opacity: .65;
}

.menu {
  width: 60vw;
  background-color: #D9CFD9;
  opacity: .65;
  margin-top: 2rem;
}

.order {
  text-align: justify;
  /* width: 30vw; */
  background-color: #D9CFD9;
  opacity: .65;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.totals {
  text-align: justify;
  display: flex;
  justify-content: space-between;
}
