* {
  box-sizing: border-box;
}

body {
  background-color: #ABCCAA
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: 1.4rem;
}

span {
  font-size: 1rem;
}

.title {
  font-size: 2rem;
}

.header {
  text-align: center;
  height: 20vh;
  width: 100vw;
  background-color: #CBFFCF;
}

.menu {
  width: 60vw;
  background-color: #CBFFCF;
  margin-top: 2rem;
}

.order {
  text-align: justify;
  width: 30vw;
  background-color: #CBFFCF;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.totals {
  text-align: justify;
  display: flex;
  justify-content: space-between;
}
